*{
    font-family: 'Jacques Francois', serif;
    text-decoration: none;
    margin: 0px 0px;
    
}

.letraBranca{
    color: white;
    margin-left: 24px;
}

.brasaoetitulo{

    background-image: url(images/background1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    display: grid;
    grid-template-areas:
      "tituloDaPagina brasaoCentro botaoExAluno botaoVisitante botaoAlunos botaoIngresso";
    
    grid-template-rows: 100px; 
    grid-template-columns: 45% 20% 10% 10% 10% 10% 10%; 
    grid-gap: 16px;
    margin: 0px 0px;
}


#tituloDaPagina{
    color: white;
}
#botoesHeader{

    border: 2px solid violet;
    width: 400px;
    display: flex;

}

#linksDeInfo{
   
    width: 100%;
    display: grid;
    grid-template-rows: 80px ; 
    grid-template-columns: 40% 33% 33%;
    grid-gap: 32px;
    align-items: center;
    background-color: #28555C;
    font-size: 24px;
    color: white;   
    border: 1px solid rebeccapurple; 
}


#brasaoCentro
{
    border: 1px solid red;
}

#botaoExAluno{
    border: 1px solid red;
}

#botaoVisitante{
    border: 1px solid red;
}

#botaoAlunos{
    border: 1px solid red;
    
}

#botaoIngresso{
    border: 1px solid red;
    
}

#tituloDaPagina{
    border: 1px solid red;
    
}

#botaoMenu{
   
    width: 148px;
    height: 50px;
    margin: 0px 0px;
    
}

#numerosMagicos{
    border: 1px solid red;
    display: grid;
    grid-template-areas:
      "varinhaEsquerda tituloNumeros varinhaDireita"
      "varinhaEsquerda taxas varinhadireita";
    grid-template-rows: 500px 200px; 
    grid-template-columns: 25% 50% 25%; 
    grid-gap: 16px;
    margin: 0px 0px;
}
#blocoNumerosMagicos{
    border: 1px solid blue;

}


#tituloNumeros {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #28555C;
    
}
.taxaTitulo{
    font-size: 48px;
    display: flex;
    border: 1px solid black;
    width: 120px;
    align-items: center;
    justify-content: center;
}

#taxas{
    color: #28555C;
    font-size: 20;
    border: 1px solid orange
}
#varinhaDireita{
    border: 1px solid red;
}

#varinhaEsquerda{
    border: 1px solid red;
}

button{
    padding: 0px;
    margin: 0px;
    width: 148px;
    height: 50px;
}
#iconemenu{
    width: 148px;
    height: 50px;
    margin: 0px 0px;
}

<<<<<<< HEAD

=======
>>>>>>> 765e98bb3d5f42084a86c12a5222b4081ebbd39e
*{
    font-family: 'Jacques Francois', serif;
    text-decoration: none;
    margin: 0px 0px;
    
}

.letraBranca{
    color: white;
    margin-left: 24px;
}

.brasaoetitulo{

    background-image: url(images/background1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    display: grid;
    grid-template-areas:
      "tituloDaPagina brasaoCentro botaoExAluno botaoVisitante botaoAlunos botaoIngresso";
    
    grid-template-rows: 100px; 
    grid-template-columns: 45% 20% 10% 10% 10% 10% 10%; 
    grid-gap: 16px;
    margin: 0px 0px;
}


#tituloDaPagina{
    color: white;
}
#botoesHeader{

    border: 2px solid violet;
    width: 400px;
    display: flex;

}

#linksDeInfo{
   
    width: 100%;
    display: grid;
    grid-template-rows: 80px ; 
    grid-template-columns: 40% 33% 33%;
    grid-gap: 32px;
    align-items: center;
    background-color: #28555C;
    font-size: 24px;
    color: white;   
    border: 1px solid rebeccapurple; 
}


#brasaoCentro
{
    border: 1px solid red;
}

#botaoExAluno{
    border: 1px solid red;
}

#botaoVisitante{
    border: 1px solid red;
}

#botaoAlunos{
    border: 1px solid red;
    
}

#botaoIngresso{
    border: 1px solid red;
    
}

#tituloDaPagina{
    border: 1px solid red;
    
}

#botaoMenu{
   
    width: 148px;
    height: 50px;
    margin: 0px 0px;
    
}

#numerosMagicos{
    border: 1px solid red;
    display: grid;
    grid-template-areas:
      "varinhaEsquerda tituloNumeros varinhaDireita"
      "varinhaEsquerda taxas varinhadireita";
    grid-template-rows: 500px 200px; 
    grid-template-columns: 25% 50% 25%; 
    grid-gap: 16px;
    margin: 0px 0px;
}
#blocoNumerosMagicos{
    border: 1px solid blue;

}


#tituloNumeros {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #28555C;
    
}
.taxaTitulo{
    font-size: 48px;
    display: flex;
    border: 1px solid black;
    width: 120px;
    align-items: center;
    justify-content: center;
}

#taxas{
    color: #28555C;
    font-size: 20;
    border: 1px solid orange
}
#varinhaDireita{
    border: 1px solid red;
}

#varinhaEsquerda{
    border: 1px solid red;
}

button{
    padding: 0px;
    margin: 0px;
    width: 148px;
    height: 50px;
}
#iconemenu{
    width: 148px;
    height: 50px;
    margin: 0px 0px;
}


<<<<<<< HEAD
 /*-- Exclusivo Pagina Casas -- */


 .container1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas: 
    "TituloCasas" 
    "BoxImagem"
    "BoxTxt" 
    "GRIF"
    "LUF"
    "CORV"
    "SONS"
    "BannerRodape"
    ;
    }

.TituloCasas {
    display: grid;

    color: black;
    border: red 2px solid;
    text-align: center;
    text-decoration: underline;
    font-size: 350%;
    margin-top: 25px;
    margin-bottom: 25px;
   
}

.BoxImagem{
    display: grid;
    justify-content: center;
    color: black;
    border: red 2px solid;

}

.BoxTxt{
    display: grid;
    justify-content: center;
    color: black;
    border: red 2px solid;
    text-align: center;
    font-size: 150%;
    margin-bottom: 25px;

}

.titulos{

    color: black;
    border: red 2px solid;
    text-align: left;
    text-decoration: underline;
    font-size: 150%;
    
}

.GRIF {
    display: grid;
    color: black;
    border: red 2px solid;

    grid-template-columns: 25% auto ;
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas: 
    "ImgGrif" "TxtGrif";
}

.ImgGrif{
    display: grid;
    justify-content: center;
    color: black;
    border: red 2px solid;
}

.TxtGrif{
    display: grid;
    justify-content: left;
    color: black;
    border: red 2px solid;
    font-size: 115%;
    text-align: center;
}

.LUF {
    display: grid;
    color: black;
    border: red 2px solid;

    grid-template-columns: 25% auto ;
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas: 
    "ImgLuf" "TxtLuf";
}

.ImgLuf{
    display: grid;
    justify-content: center;
    color: black;
    border: red 2px solid;
}

.TxtLuf{
    display: grid;
    justify-content: left;
    color: black;
    border: red 2px solid;
    font-size: 115%;
    text-align: center;
}

.CORV {
    display: grid;
    color: black;
    border: red 2px solid;

    grid-template-columns: 25% auto ;
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas: 
    "ImgCorv" "TxtCorv";
}

.ImgCorv{
    display: grid;
    justify-content: center;
    color: black;
    border: red 2px solid;
}

.TxtCorv{
    display: grid;
    justify-content: left;
    color: black;
    border: red 2px solid;
    font-size: 115%;
    text-align: center;
}
.SONS {
    display: grid;
    color: black;
    border: red 2px solid;

    grid-template-columns: 25% auto ;
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas: 
    "ImgSons" "TxtSons";
}

.ImgSons{
    display: grid;
    justify-content: center;
    color: black;
    border: red 2px solid;
}

.TxtSons{
    display: grid;
    justify-content: left;
    color: black;
    border: red 2px solid;
    font-size: 115%;
    text-align: center;

}

.BannerRodape {

    display: grid;
    justify-content: center;
    color: black;
    border: red 2px solid;

}
=======
>>>>>>> 765e98bb3d5f42084a86c12a5222b4081ebbd39e
