*{
    font-family: 'Jacques Francois', serif;
    text-decoration: none;
    margin: 0px 0px;
    
}

.letraBranca{
    color: white;
    margin-left: 24px;
}

.brasaoetitulo{

    background-image: url(images/background1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    display: grid;
    grid-template-areas:
      "tituloDaPagina brasaoCentro botaoExAluno botaoVisitante botaoAlunos botaoIngresso";
    
    grid-template-rows: 100px; 
    grid-template-columns: 45% 20% 10% 10% 10% 10% 10%; 
    grid-gap: 16px;
    margin: 0px 0px;
}


#tituloDaPagina{
    color: white;
}
#botoesHeader{

    border: 2px solid violet;
    width: 400px;
    display: flex;

}

#linksDeInfo{
   
    width: 100%;
    display: grid;
    grid-template-rows: 80px ; 
    grid-template-columns: 40% 33% 33%;
    grid-gap: 32px;
    align-items: center;
    background-color: #28555C;
    font-size: 24px;
    color: white;   
    border: 1px solid rebeccapurple; 
}


#brasaoCentro
{
    border: 1px solid red;
}

#botaoExAluno{
    border: 1px solid red;
}

#botaoVisitante{
    border: 1px solid red;
}

#botaoAlunos{
    border: 1px solid red;
    
}

#botaoIngresso{
    border: 1px solid red;
    
}

#tituloDaPagina{
    border: 1px solid red;
    
}

#botaoMenu{
   
    width: 148px;
    height: 50px;
    margin: 0px 0px;
    
}



button{
    padding: 0px;
    margin: 0px;
    width: 148px;
    height: 50px;
}
#iconemenu{
    width: 148px;
    height: 50px;
    margin: 0px 0px;
}

*{
    font-family: 'Jacques Francois', serif;
    text-decoration: none;
    margin: 0px 0px;
    
}

.letraBranca{
    color: white;
    margin-left: 24px;
}

.brasaoetitulo{

    background-image: url(images/background1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    display: grid;
    grid-template-areas:
      "tituloDaPagina brasaoCentro botaoExAluno botaoVisitante botaoAlunos botaoIngresso";
    
    grid-template-rows: 100px; 
    grid-template-columns: 45% 20% 10% 10% 10% 10% 10%; 
    grid-gap: 16px;
    margin: 0px 0px;
}


#tituloDaPagina{
    color: white;
}
#botoesHeader{

    border: 2px solid violet;
    width: 400px;
    display: flex;

}

#linksDeInfo{
   
    width: 100%;
    display: grid;
    grid-template-rows: 80px ; 
    grid-template-columns: 40% 33% 33%;
    grid-gap: 32px;
    align-items: center;
    background-color: #28555C;
    font-size: 24px;
    color: white;   
    border: 1px solid rebeccapurple; 
}


#brasaoCentro
{
    border: 1px solid red;
}

#botaoExAluno{
    border: 1px solid red;
}

#botaoVisitante{
    border: 1px solid red;
}

#botaoAlunos{
    border: 1px solid red;
    
}

#botaoIngresso{
    border: 1px solid red;
    
}

#tituloDaPagina{
    border: 1px solid red;
    
}

#botaoMenu{
   
    width: 148px;
    height: 50px;
    margin: 0px 0px;
    
}



button{
    padding: 0px;
    margin: 0px;
    width: 148px;
    height: 50px;
}
#iconemenu{
    width: 148px;
    height: 50px;
    margin: 0px 0px;
}


