/*-- Inicio  Pagina Quadribol -- */
.grade {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr, 8fr, 1fr;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.secao {
    display: grid;
    grid-template-areas:
        "titulo titulo"
        "texto imagem"
        "botao botao";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 10;
    justify-items: stretch;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.titulo-secao{
    grid-area: titulo;
    text-align: center;
}

.texto-secao{
    grid-area: texto;
    text-align: justify;
    justify-self: baseline;
    font-size: 150%;
}

.imagem-secao{
    grid-area: imagem;
    width: 100px;
    justify-self: flex-start;
}

.botao-secao {
    grid-area: botao;
    justify-self: center;
    align-self: center;
    text-align: center;
    text
    background-color:#892424;
    border-radius: 8px;
    font-size: 15px;
    color:white;
    padding: 0px;
    margin: 0px;
    width: 148px;
    height: 50px;
}

footer {
    grid-area: footer;
}

.branca{
    background-color: white;
    color:#28555C
}

.verde{
    background-color: #28555C;
    color:white;
}

.letraVerde {
    color:#28555C    
}

.centralizado {
    display: grid;
    grid-template-areas: 
        "vazio" "card" "vazio";
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    justify-items: stretch;
    height: 300px;
    
}

.card-do-bootstrap {
    grid-area: card;
    justify-self: center;

}